<div>
    <div class="row shadow p-3 mb-5 bg-white rounded" style="width: 80%; margin-left: 50px; margin-top: 10px;">
        <div class="col-2">
            <h3>PostName</h3>
            <div style="position:absolute; bottom: 0;">
                <p>upvotes</p>
                <img src="/images/icons/arrow-top.svg" href="#" style="height: 38px; filter: invert(19%) sepia(92%) saturate(6727%) hue-rotate(128deg) brightness(98%) contrast(103%);">
                <img src="/images/icons/arrow-bottom.svg" href="#" style="height: 38px; filter: invert(23%) sepia(93%) saturate(7396%) hue-rotate(358deg) brightness(104%) contrast(114%);">
            </div>
        </div>
        <div class="col">
            <img src="images/Chainmail_helmet.png" style="max-width: 100%">
        </div>
    </div>
</div>