<div>
    <div class="row shadow p-3 mb-5 bg-white rounded" style="width: 80%; margin-left: 50px; margin-top: 10px;">
        <div class="col-2">
            <h3 style="word-wrap: break-word;">PostName</h3>
            <div style="position:absolute; bottom: 0;">
                <p>no_upvotes</p>
                <a href="#"><img src="/images/icons/arrow-top.svg" style="height: 38px; filter: invert(19%) sepia(92%) saturate(6727%) hue-rotate(128deg) brightness(98%) contrast(103%);"></a>
                <a href="#"><img src="/images/icons/arrow-bottom.svg" style="height: 38px; filter: invert(23%) sepia(93%) saturate(7396%) hue-rotate(358deg) brightness(104%) contrast(114%);"></a>
            </div>
        </div>
        <div class="col">
            <img src="images/Chainmail_helmet.png" style="max-width: 100%; width: 50%; max-height: 100%;">
        </div>
        <div class="col-1" style="width: 40px">
            <a href="#"><img src="/images/icons/ellipses.svg" align="right" style="height: 16px; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);"></a>
        </div>
    </div>
</div>