<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/navigationBar.ejs %>
    <h1>Hello</h1>
</body>
<% include partials/script.ejs %>
</html>