<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chainpost</title>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/navigationBar.ejs %>
<img src="" id="help">
<div>
    <div class="row shadow p-3 mb-5 bg-white rounded" style="width: 80%; margin-left: 50px; margin-top: 10px;">
        <h2>Create a new post</h2>
        <div id="postError" style="display: none;"><p style="color:red">Please fill in all fields!</p></div>
        <form id="postForm" style="width: 100%">
            <div class="form-group">
                <input type="text" class="form-control" id="postTitle" placeholder="Title">
            </div>
            <div class="form-group" id="typeSelection">
                <div class="radio">
                    <label class="radio-inline"><input type="radio" name="content" value="text" onclick="changeInputField()" checked>Text    </label>
                    <label class="radio-inline"><input type="radio" name="content" value="image" onclick="changeInputField()">Image    </label>
                </div>

            </div>
            <div class="form-group" id="inputTextdiv" style="display: block">
                <textarea class="form-control" id="postText" rows="3" placeholder="Text (optional)"></textarea>
            </div>
            <div class="form-group" id="inputImagediv" style="display: none">
                <input id="upload" type="file" name="pic" accept="image/*">
            </div>
            <div class="form-group" align="right" style="margin-bottom: 0px;">
                <button type="button" onclick="postpost()" class="btn btn-primary mb-2">Post</button>
            </div>
        </form>
    </div>
</div>

<% postList.forEach(function(post) { %>
    <%- console.log(post.get("type") == "image");%>
    <% if (post.get("type") == "image") { %>
        <%- include('partials/postImage', {post: post}); %>
    <% } else { %>
        <%- include('partials/postText', {post: post}); %>
    <% }%>
<% }); %>
</body>
<% include partials/script.ejs %>
<script src="./javascripts/index.js"></script>
</html>