<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reports</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/navigationBar.ejs %>
        <% for(let i =0;i<reportList.length; i++){ %>
            <%- include('partials/reported', {i: i}); %>
        <% } %>
    </body>
    <% include partials/script.ejs %>
</html>