<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reports</title>
        <% include partials/head.ejs %>
    </head>
    <body>
        <% include partials/navigationBar.ejs %>
        <% /* %>
        <% flaggedList.forEach(function(post){ %>
            <%- include('partials/reported'); %>
        <% }); %>
        <% */ %>
    </body>
    <% include partials/script.ejs %>
</html>