<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/navigationBar.ejs %>
<div class="row" style="margin-left: 50px; margin-top: 10px;">
    <div class="col-2">
        <img src="images/Chainmail_helmet.png" style="max-width: 100%; width: 50%; max-height: 100%;">
    </div>
    <div class="col">
        <form>
            <div class="form-group row">
                <label for="staticName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <span id="usernameX"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticAddress" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <span id="addressX"></span>
                </div>
            </div>
            <div class="form-group row">
                <label for="staticBalance" class="col-sm-2 col-form-label">Balance</label>
                <div class="col-sm-10">
                    <span id="balance">420</span> Memecoins
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#buyMemeCoinPopup">Buy
        MemeCoin
    </button>

    <div class="modal fade right" id="buyMemeCoinPopup" tabindex="-1" role="dialog"
         aria-labelledby="makeLoginPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="makeLoginPreviewLabel">Buy MemeCoin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--                Username-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="amount">Amount</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Amount"
                               aria-label="Enter Username" aria-describedby="basic-addon2" id="enteredAmount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="buyMemeCoin()" class="btn btn-primary">Log In</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#sendGiftPopup">Send Gift
    </button>


    <div class="modal fade right" id="sendGiftPopup" tabindex="-1" role="dialog"
         aria-labelledby="makeLoginPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="makeLoginPreviewLabel">Buy MemeCoin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--                Username-->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="Address">Address of Reciever</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter Address"
                               aria-label="Enter Address" aria-describedby="basic-addon2" id="enteredAddress">
                    </div>
                </div>
                <!--                Username-->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="amount">Amount</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Amount"
                           aria-label="Enter Amount" aria-describedby="basic-addon2" id="enteredAmount">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="sendGift()" class="btn btn-primary">Log In</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<% include partials/script.ejs %>
<script>
  let user = {
    username: sessionStorage.username
  }
  $.ajax({
    type: 'POST',
    url: "profile/user",
    data: user,
    dataType: 'json',
    success: function(data) {changeUser(data)},
  });

  function changeUser(data) {
    document.getElementById("usernameX").innerHTML = data.username;
    // $('usernameX').html("data.username");// data.username;
    document.getElementById("addressX").innerHTML = data.address;
  }
</script>
<script>
  $.ajax({
    type: 'POST',
    url: "profile/token",
    data: user,
    dataType: 'json',
    success: function(data) {changeUser(data)},
  });

  function changeUser(data) {
    document.getElementById("balance").innerHTML = data;
    // $('usernameX').html("data.username");// data.username;
  }
</script>
</html>